<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> TEST </h1>
    <form method="post" action="{{ url_for('.new_package') }}">
        <div>
            {{ form.sender.label}} {{form.sender}}
        </div>
        <div>
            {{ form.recipient.label }} {{ form.recipient }}
        </div>
        <div>
            {{ form.origin.label }} {{ form.origin }}
        </div>
        <div>
            {{form.destination.label}} {{form.destination}}
        </div>
        <div>
            {{form.express_shipping.label}} {{form.express_shipping}}
        </div>
        <div>
            {{form.submit.label}} {{form.submit}}
        </div>
    </form>
    <a href="/new_package">
        <button type="button">Cancel</button>
    </a>
</body>

</html>
